#container {
  display: flex;
  align-items: center;
  color: white;
  height: 100vh;
  background: gray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#area {
  margin: auto;
  width: 600px;
}
